services:
  - type: web
    name: emi-backend
    env: node
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "node server.js"

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 10000

      - key: MONGODB_URI
        sync: false

      - key: FRONTEND_URL
        value: https://emi-marketplace-frontend.onrender.com
